<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bzs.dao.CarInfoMapper">
    <resultMap id="BaseResultMap" type="com.bzs.model.CarInfo">
        <!--
          WARNING - @mbg.generated
        -->
        <result column="car_info_id" jdbcType="VARCHAR" property="carInfoId"/>
        <result column="car_number" jdbcType="VARCHAR" property="carNumber"/>
        <result column="engine_number" jdbcType="VARCHAR" property="engineNumber"/>
        <result column="frame_number" jdbcType="VARCHAR" property="frameNumber"/>
        <result column="register_date" jdbcType="VARCHAR" property="registerDate"/>
        <result column="brand_model" jdbcType="VARCHAR" property="brandModel"/>
        <result column="car_model" jdbcType="VARCHAR" property="carModel"/>
        <result column="purchase_price" jdbcType="INTEGER" property="purchasePrice"/>
        <result column="seat_number" jdbcType="INTEGER" property="seatNumber"/>
        <result column="displacement" jdbcType="DECIMAL" property="displacement"/>
        <result column="isTransfer_car" jdbcType="INTEGER" property="istransferCar"/>
        <result column="isLoan_car" jdbcType="INTEGER" property="isloanCar"/>
        <result column="remarks_car" jdbcType="VARCHAR" property="remarksCar"/>
        <result column="follow_count" jdbcType="INTEGER" property="followCount"/>
        <result column="follow_time" jdbcType="VARCHAR" property="followTime"/>
        <result column="follow_content" jdbcType="VARCHAR" property="followContent"/>
        <result column="plan_return_time" jdbcType="VARCHAR" property="planReturnTime"/>
        <result column="customer_status" jdbcType="INTEGER" property="customerStatus"/>
        <result column="customer_type" jdbcType="VARCHAR" property="customerType"/>
        <result column="salesman" jdbcType="VARCHAR" property="salesman"/>
        <result column="CREATED_BY" jdbcType="VARCHAR" property="createdBy"/>
        <result column="CREATED_TIME" jdbcType="TIMESTAMP" property="createdTime"/>
        <result column="UPDATED_BY" jdbcType="VARCHAR" property="updatedBy"/>
        <result column="UPDATED_TIME" jdbcType="TIMESTAMP" property="updatedTime"/>
        <result column="choice_last_year_insurance_name" jdbcType="VARCHAR" property="choiceLastYearInsuranceName"/>
        <result column="choice_last_year_source" jdbcType="VARCHAR" property="choiceLastYearSource"/>
        <result column="insured_area" jdbcType="VARCHAR" property="insuredArea"/>
        <result column="license_owner" jdbcType="VARCHAR" property="licenseOwner"/>
        <result column="license_owner_id_card" jdbcType="VARCHAR" property="licenseOwnerIdCard"/>
        <result column="license_owner_id_card_type" jdbcType="VARCHAR" property="licenseOwnerIdCardType"/>
        <result column="mobile" jdbcType="VARCHAR" property="mobile"/>
    </resultMap>
    <select id="getUserList" resultType="map">
        SELECT
        car_info.car_info_id,
        car_info.car_number,
        car_info.engine_number,
        car_info.frame_number,
        car_info.register_date,
        car_info.brand_model,
        car_info.car_model,
        car_info.purchase_price,
        car_info.seat_number,
        car_info.displacement,
        car_info.isTransfer_car,
        car_info.isLoan_car,
        car_info.remarks_car,
        car_info.follow_count,
        car_info.follow_time,
        car_info.follow_content,
        car_info.plan_return_time,
        car_info.customer_status,
        car_info.customer_type,
        car_info.salesman,
        car_info.CREATED_BY,
        car_info.CREATED_TIME,
        car_info.UPDATED_BY,
        car_info.UPDATED_TIME,
        car_info.choice_last_year_insurance_name,
        car_info.choice_last_year_source,
        car_info.insured_area,
        car_info.license_owner,
        car_info.license_owner_id_card,
        car_info.license_owner_id_card_type,
        quote_info.quote_status,
        quote_info.submit_status,
        quote_info.car_info_id
        FROM
        car_info ,
        quote_info
        <where>
            car_info.car_info_id = quote_info.car_info_id
            <if test="roleId==1">
            </if>
            <if test="roleId==2">
                and car_info.car_info_id in (
                SELECT car_info_id FROM check_info WHERE create_by in
                (SELECT account_id FROM account_info where ancestor_id= #{accountId} or account_id = #{accountId} ))
            </if>
            <if test="roleId==3">
                and car_info.car_info_id in (
                SELECT car_info_id FROM check_info WHERE create_by = #{accountId}
            </if>
        </where>
    </select>

    <select id="searchUserList" resultType="map">
        select
        car_info.car_info_id,
        car_info.car_number,
        car_info.engine_number,
        car_info.frame_number,
        car_info.register_date,
        car_info.brand_model,
        car_info.car_model,
        car_info.purchase_price,
        car_info.seat_number,
        car_info.displacement,
        car_info.isTransfer_car,
        car_info.isLoan_car,
        car_info.remarks_car,
        car_info.follow_count,
        car_info.follow_time,
        car_info.follow_content,
        car_info.plan_return_time,
        car_info.customer_status,
        car_info.customer_type,
        car_info.salesman,
        car_info.CREATED_BY,
        car_info.CREATED_TIME,
        car_info.UPDATED_BY,
        car_info.UPDATED_TIME,
        car_info.choice_last_year_insurance_name,
        car_info.choice_last_year_source,
        car_info.insured_area,
        car_info.license_owner,
        car_info.license_owner_id_card,
        car_info.license_owner_id_card_type,
        quote_info.quote_status,
        quote_info.submit_status,
        quote_info.car_info_id FROM
        car_info ,
        quote_info
        <where>
            <if test="roleId==1">
            </if>
            <if test="roleId==2">
                and car_info.car_info_id in (
                SELECT car_info_id FROM check_info WHERE create_by in
                (SELECT account_id FROM account_info where ancestor_id= #{accountId} or account_id = #{accountId} ))
            </if>
            <if test="roleId==3">
                and car_info.car_info_id in (
                SELECT car_info_id FROM check_info WHERE create_by = #{accountId}
            </if>
            <if test="car_number!=null">
                and car_info.car_number = #{carNumber}
            </if>
            <if test="frame_number!=null">
                and car_info.frame_number = #{frameNumber}
            </if>
            <if test="frame_number!=null">
                and frame_number = #{frameNumber}
            </if>
        </where>

    </select>

    <!--根据车牌或者车架和创建人查询   开始-->
    <sql id="selectCarInfoId"> car_info_id</sql>
    <sql id="findParams">
        <trim prefix="WHERE" suffixOverrides="and " >
            <if test="carNumber!=null and carNumber!=''"> car_number=#{carNumber} and</if>
            <if test="createdBy!=null and createdBy!=''"> CREATED_BY=#{createdBy} and</if>
            <if test="frameNumber!=null and frameNumber!=''"> frame_number=#{frameNumber} and</if>
            <if test="engineNumber!=null and engineNumber!=''"> engine_umber=#{engineNumber} and </if>
        </trim>

    </sql>
    <select id="findOneBy" parameterType="com.bzs.model.CheckInfo" resultMap="BaseResultMap">
        select
        <include refid="selectCarInfoId"/>
        from car_info
        <include refid="findParams"/>
    </select>
    <!--根据车牌或者车架和创建人查询  结束-->
</mapper>