<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bzs.dao.DrawCashMapper">
  <resultMap id="BaseResultMap" type="com.bzs.model.DrawCash">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="order_id" jdbcType="VARCHAR" property="orderId" />
    <result column="commission_percentage_id" jdbcType="INTEGER" property="commissionPercentageId" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="serial_no" jdbcType="VARCHAR" property="serialNo" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="descriton" jdbcType="VARCHAR" property="descriton" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    <result column="biz_cash" jdbcType="VARCHAR" property="bizCash" />
    <result column="income_person" jdbcType="VARCHAR" property="incomePerson" />
    <result column="force_cash" jdbcType="VARCHAR" property="forceCash" />
    <result column="cash" jdbcType="VARCHAR" property="cash" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="biz_percentage" jdbcType="VARCHAR" property="bizPercentage" />
    <result column="force_percentage" jdbcType="VARCHAR" property="forcePercentage" />
    <result column="draw_percentage" jdbcType="VARCHAR" property="drawPercentage" />
  </resultMap>
  <sql id="insertBacthItems">
    <trim prefix="(" suffixOverrides="," suffix=")">
      order_id,
      commission_percentage_id,
      serial_no,
      create_by
    </trim>
  </sql>
  <sql id="batchInsertItems">
    <trim suffixOverrides=",">
      <if test="item.orderId!=null and item.orderId!=''">#{item.orderId},</if>
      <if test="item.commissionPercentageId!=null">#{item.commissionPercentageId},</if>
      <if test="item.serialNo!=null and item.serialNo!=''">#{item.commissionPercentageId},</if>
      <if test="item.createBy!=null and item.createBy!=''">#{item.createBy},</if>
    </trim>
  </sql>
  <insert id="insertBatch" parameterType="java.util.List">
    insert into draw_cash
    <include refid="insertBacthItems"/>
    values
    <foreach collection="list" item="item" index="index" separator=",">
      (
      <include refid="batchInsertItems"/>
--       #{item.orderId},
      --       #{item.commissionPercentageId},
      --       #{item.serialNo},
      --       #{item.createBy}
      )
    </foreach>
  </insert>

</mapper>