<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bzs.dao.InsuranceTypeInfoMapper">
  <resultMap id="BaseResultMap" type="com.bzs.model.InsuranceTypeInfo">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="insurance_type_id" jdbcType="VARCHAR" property="insuranceTypeId" />
    <result column="REVISION" jdbcType="INTEGER" property="revision" />
    <result column="CREATED_BY" jdbcType="VARCHAR" property="createdBy" />
    <result column="CREATED_TIME" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="UPDATED_BY" jdbcType="VARCHAR" property="updatedBy" />
    <result column="UPDATED_TIME" jdbcType="TIMESTAMP" property="updatedTime" />
    <result column="insurance_name" jdbcType="VARCHAR" property="insuranceName" />
    <result column="insurance_amount" jdbcType="DECIMAL" property="insuranceAmount" />
    <result column="insurance_premium" jdbcType="DECIMAL" property="insurancePremium" />
    <result column="info_type" jdbcType="VARCHAR" property="infoType" />
    <result column="type_id" jdbcType="VARCHAR" property="typeId" />
    <result column="standard_premium" jdbcType="VARCHAR" property="standardPremium" />
    <result column="excluding_deductible" jdbcType="DECIMAL" property="excludingEeductible" />
  </resultMap>
  <sql id="insertBacthItems">
    <trim prefix="(" suffixOverrides="," suffix=")">
      insurance_type_id,insurance_name,insurance_amount,insurance_premium,info_type,type_id,standard_premium,excluding_deductible,CREATED_BY
    </trim>
  </sql>
  <insert id="insertBatch" parameterType="java.util.List">
    insert into insurance_type_info <include refid="insertBacthItems"/> values
    <foreach collection="list" item="item" index="index" separator="," >
      (#{item.insuranceTypeId},#{item.insuranceName},#{item.insuranceAmount},#{item.insurancePremium}, #{item.infoType},
      #{item.typeId}
      , #{item.standardPremium}, #{item.excludingEeductible}, #{item.createdBy})
      </foreach>
  </insert>
</mapper>