<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bzs.dao.InsuredInfoMapper">
  <resultMap id="BaseResultMap" type="com.bzs.model.InsuredInfo">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="insured_id" jdbcType="VARCHAR" property="insuredId" />
    <result column="create_id" jdbcType="VARCHAR" property="createId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="insurance_company" jdbcType="VARCHAR" property="insuranceCompany" />
    <result column="choice_insurance_source" jdbcType="VARCHAR" property="choiceInsuranceSource" />
    <result column="mechanism_number" jdbcType="VARCHAR" property="mechanismNumber" />
    <result column="busines_expire_date" jdbcType="VARCHAR" property="businesExpireDate" />
    <result column="force_expire_date" jdbcType="VARCHAR" property="forceExpireDate" />
    <result column="next_busines_start_date" jdbcType="VARCHAR" property="nextBusinesStartDate" />
    <result column="next_force_start_date" jdbcType="VARCHAR" property="nextForceStartDate" />
    <result column="force_is_insured" jdbcType="VARCHAR" property="forceIsInsured" />
    <result column="biz_is_insured" jdbcType="VARCHAR" property="bizIsInsured" />
    <result column="last_year_insurance_company" jdbcType="VARCHAR" property="lastYearInsuranceCompany" />
    <result column="last_year_source" jdbcType="VARCHAR" property="lastYearSource" />
    <result column="license_owner" jdbcType="VARCHAR" property="licenseOwner" />
    <result column="license_owner_id_card" jdbcType="VARCHAR" property="licenseOwnerIdCard" />
    <result column="license_owner_id_card_type" jdbcType="VARCHAR" property="licenseOwnerIdCardType" />
    <result column="posted_name" jdbcType="VARCHAR" property="postedName" />
    <result column="holder_id_card" jdbcType="VARCHAR" property="holderIdCard" />
    <result column="holder_id_card_type" jdbcType="VARCHAR" property="holderIdCardType" />
    <result column="insured_name" jdbcType="VARCHAR" property="insuredName" />
    <result column="insured_id_card" jdbcType="VARCHAR" property="insuredIdCard" />
    <result column="insured_id_card_type" jdbcType="VARCHAR" property="insuredIdCardType" />
    <result column="busines_number" jdbcType="VARCHAR" property="businesNumber" />
    <result column="traffic_number" jdbcType="VARCHAR" property="trafficNumber" />
    <result column="force_last_year_out_danger_count" jdbcType="VARCHAR" property="forceLastYearOutDangerCount" />
    <result column="biz_last_year_out_danger_count" jdbcType="VARCHAR" property="bizLastYearOutDangerCount" />
    <result column="force_last_year_out_danger" jdbcType="VARCHAR" property="forceLastYearOutDanger" />
    <result column="biz_last_year_out_danger" jdbcType="VARCHAR" property="bizLastYearOutDanger" />
    <result column="car_info_id" jdbcType="VARCHAR" property="carInfoId" />
  </resultMap>
  <resultMap id="insuraneAndType" type="com.bzs.model.InsuredInfo" extends="BaseResultMap">
    <collection property="insuranceTypeInfos" resultMap="com.bzs.dao.InsuranceTypeInfoMapper.BaseResultMap"
                ofType="com.bzs.model.InsuranceTypeInfo" columnPrefix="c_"/>
  </resultMap>
  <sql id="insertItems">
    <trim prefix="(" suffix=")" suffixOverrides=",">
      insured_id,
      <if test="createId!=null and ''!=createId ">create_id,</if>
      <if test="updateBy!=null and ''!=updateBy ">update_by,</if>
      <if test="insuranceCompany!=null and ''!=insuranceCompany ">insurance_company,</if>
      <if test="mechanismNumber!=null and ''!=mechanismNumber ">mechanism_number,</if>
      <if test="businesExpireDate!=null and ''!=businesExpireDate ">busines_expire_date,</if>
      <if test="forceExpireDate!=null and ''!=forceExpireDate ">force_expire_date,</if>
      <if test="nextBusinesStartDate!=null and ''!=nextBusinesStartDate ">next_busines_start_date,</if>
      <if test="nextForceStartDate!=null and ''!=nextForceStartDate ">next_force_start_date,</if>
      <if test="lastYearInsuranceCompany!=null and ''!=lastYearInsuranceCompany ">last_year_insurance_company,</if>
      <if test="lastYearSource!=null and ''!=lastYearSource ">last_year_source,</if>
      <if test="carInfoId!=null and ''!=carInfoId ">car_info_id,</if>
    </trim>
  </sql>
  <sql id="insertValues">
    <trim prefix="(" suffix=")" suffixOverrides=",">
      #{insuredId},
      <if test="createId!=null and ''!=createId ">#{createId},</if>
      <if test="updateBy!=null and ''!=updateBy ">#{updateBy},</if>
      <if test="insuranceCompany!=null and ''!=insuranceCompany ">#{insuranceCompany},</if>
      <if test="mechanismNumber!=null and ''!=mechanismNumber ">#{mechanismNumber},</if>
      <if test="businesExpireDate!=null and ''!=businesExpireDate ">#{businesExpireDate},</if>
      <if test="forceExpireDate!=null and ''!=forceExpireDate ">#{forceExpireDate},</if>
      <if test="nextBusinesStartDate!=null and ''!=nextBusinesStartDate ">#{nextBusinesStartDate},</if>
      <if test="nextForceStartDate!=null and ''!=nextForceStartDate ">#{nextForceStartDate},</if>
      <if test="lastYearInsuranceCompany!=null and ''!=lastYearInsuranceCompany ">#{lastYearInsuranceCompany},</if>
      <if test="lastYearSource!=null and ''!=lastYearSource ">#{lastYearSource},</if>
      <if test="carInfoId!=null and ''!=carInfoId ">#{carInfoId},</if>
    </trim>
  </sql>
  <sql id="updateOrAdd_update">
    <trim suffixOverrides=",">
      insured_id=values(insured_id),
      <if test="createId!=null and ''!=createId ">create_id=#{createId},</if>
      <if test="updateBy!=null and ''!=updateBy ">update_by=#{updateBy},</if>
      <if test="insuranceCompany!=null and ''!=insuranceCompany ">insurance_company=#{insuranceCompany},</if>
      <if test="mechanismNumber!=null and ''!=mechanismNumber ">mechanism_number=#{mechanismNumber},</if>
      <if test="businesExpireDate!=null and ''!=businesExpireDate ">busines_expire_date=#{businesExpireDate},</if>
      <if test="forceExpireDate!=null and ''!=forceExpireDate ">force_expire_date=#{forceExpireDate},</if>
      <if test="nextBusinesStartDate!=null and ''!=nextBusinesStartDate ">next_busines_start_date=#{nextBusinesStartDate},</if>
      <if test="nextForceStartDate!=null and ''!=nextForceStartDate ">next_force_start_date=#{nextForceStartDate},</if>
      <if test="lastYearInsuranceCompany!=null and ''!=lastYearInsuranceCompany ">last_year_insurance_company=#{lastYearInsuranceCompany},</if>
      <if test="lastYearSource!=null and ''!=lastYearSource ">last_year_source=#{lastYearSource},</if>
      <if test="carInfoId!=null and ''!=carInfoId ">car_info_id=#{carInfoId},</if>
    </trim>
  </sql>

  <insert id="insertOrUpdate" parameterType="com.bzs.model.InsuredInfo">
    insert into insured_info
    <include refid="insertItems"/>
    values
    <include refid="insertValues"/>
    ON DUPLICATE KEY UPDATE
    <include refid="updateOrAdd_update"/>
  </insert>
</mapper>