<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bzs.dao.OrderInfoMapper">
  <resultMap id="BaseResultMap" type="com.bzs.model.OrderInfo">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="order_id" jdbcType="VARCHAR" property="orderId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="finish_time" jdbcType="TIMESTAMP" property="finishTime" />
    <result column="pay_status" jdbcType="INTEGER" property="payStatus" />
    <result column="pay_type" jdbcType="VARCHAR" property="payType" />
    <result column="pay_type_id" jdbcType="VARCHAR" property="payTypeId" />
    <result column="payment" jdbcType="VARCHAR" property="payment" />
    <result column="pay_money" jdbcType="DECIMAL" property="payMoney" />
    <result column="car_info_id" jdbcType="VARCHAR" property="carInfoId" />
    <result column="delivery_way" jdbcType="INTEGER" property="deliveryWay" />
    <result column="delivery_address" jdbcType="VARCHAR" property="deliveryAddress" />
    <result column="contact_name" jdbcType="VARCHAR" property="contactName" />
    <result column="contact_tel" jdbcType="VARCHAR" property="contactTel" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="cancel_msg" jdbcType="VARCHAR" property="cancelMsg" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>

  <!--查询订单信息-->
  <resultMap id="orderAndAccountResultMap" type="com.bzs.model.query.OrderAndAccount" extends="BaseResultMap">
    <result column="level" jdbcType="INTEGER" property="level"/>
    <result column="p_level" jdbcType="INTEGER" property="pLevel"/>
    <result column="accountId" jdbcType="VARCHAR" property="accountId"/>
    <result column="userName" jdbcType="VARCHAR" property="userName"/>
    <result column="car_number" jdbcType="VARCHAR" property="carNo"/>
    <result column="frame_number" jdbcType="VARCHAR" property="vinNo"/>
    <result column="invite_code_level" jdbcType="VARCHAR" property="inviteCodeLevel"/>
    <result column="biz_total" jdbcType="DECIMAL" property="bizTotal" />
    <result column="cash_status" jdbcType="VARCHAR" property="cashStatus" />
    <result column="biz_percentage" jdbcType="VARCHAR" property="bizPercentage" />
    <result column="force_percentage" jdbcType="VARCHAR" property="forcePercentage" />
    <result column="level_one" jdbcType="VARCHAR" property="levelOne" />
    <result column="level_two" jdbcType="VARCHAR" property="levelTwo" />
  </resultMap>

  <select id="getOrderListByAdmin" resultType="map">
          SELECT
                o.order_id,
                c.car_number,
                c.brand_model,
                c.salesman,
                c.license_owner,
                o.create_time,
                date_format(o.finish_time, '%Y-%m-%d') AS finish_time,
                o.create_by,
                o.pay_status,
                o.pay_type,
                o.pay_type_id,
                o.payment,
                o.pay_money,
                o.car_info_id,
                o.delivery_way,
                o.delivery_address,
                o.cancel_msg,
                o.update_time,
                o.contact_name,
                o.contact_tel,
                i.posted_name,
                i.insurance_company,
                q.quote_insurance_name,
                q.quote_source,
                q.pay_end_date,
                q.force_total,
                q.tax_total,
                q.biz_total,
                q.total,
                a.user_name
            FROM
                order_info AS o
            LEFT JOIN insured_info AS i ON (
                o.car_info_id = i.car_info_id
            )
            LEFT JOIN car_info AS c ON (
                o.car_info_id = c.car_info_id
            )
            LEFT JOIN quote_info AS q ON (o.pay_type_id = q.quote_id)
            LEFT JOIN account_info AS a ON o.create_by = a.account_id
            <where>
              <if test="payStatus!=9">
                and pay_status = #{payStatus}
              </if>
              <if test="userName!='' and userName!=null">
                a.user_name=#{userName}
              </if>
              <if test="carNumber!='' and carNumber!=null">
                c.car_number=#{carNumber}
              </if>
              <if test="startTime!=null and endTime!=null">
                and o.create_time between #{startTime} and #{endTime}
              </if>
            </where>
            order by  o.create_time desc
  </select>
  <select id="getOrderList" resultType="map">
    SELECT
    order_info.order_id,
    car_info.car_number,car_info.brand_model,car_info.salesman,
    car_info.license_owner,
    order_info.create_time,
    date_format(order_info.finish_time,'%Y-%m-%d') as finish_time,
    order_info.create_by,
    order_info.pay_status,
    order_info.pay_type,
    order_info.pay_type_id,
    order_info.payment,
    order_info.pay_money,
    order_info.car_info_id,
    order_info.delivery_way,
    order_info.delivery_address,
    order_info.cancel_msg,
    order_info.update_time,
    order_info.contact_name,
    order_info.contact_tel,
    insured_info.posted_name,
    insured_info.insurance_company,
    quote_info.quote_insurance_name,
    quote_info.quote_source,
    quote_info.pay_end_date,
    a.user_name
    FROM
    order_info LEFT JOIN insured_info ON( order_info.car_info_id=insured_info.car_info_id)
    LEFT JOIN car_info ON (order_info.car_info_id=car_info.car_info_id)
    left join quote_info on (order_info.pay_type_id=quote_info.quote_id)
    left join account_info a on order_info.create_by=a.account_id
    <where>
      <if test="accountId!=null">
        create_by=#{accountId}
      </if>
      <if test="payStatus!=9">
        and pay_status = #{payStatus}
      </if>
      ORDER BY  order_info.create_time DESC
    </where>
  </select>
  <select id="searchOrderList" resultType="map">
    SELECT
    order_info.order_id,
    car_info.car_number,car_info.car_model,car_info.salesman,
    car_info.license_owner,
    order_info.create_time,
    date_format(order_info.finish_time,'%Y-%m-%d') as finish_time,
    order_info.create_by,
    order_info.pay_status,
    order_info.pay_type,
    order_info.payment,
    order_info.pay_money,
    order_info.car_info_id,
    order_info.delivery_way,
    order_info.delivery_address,
    order_info.contact_name,
    order_info.contact_tel,
    insured_info.posted_name,
    insured_info.insurance_company,
    FROM
    order_info LEFT JOIN insured_info ON( order_info.car_info_id=insured_info.car_info_id)
    LEFT JOIN car_info ON (order_info.car_info_id=car_info.car_info_id)
    <where>
      <if test="accountId!=null">
        create_by=#{accountId}
      </if>
      <if test="payStatus!=0">
        and pay_status = #{payStatus}
      </if>
      <if test="carInfoId!=null">
        and order_info.car_info_id=#{carInfoId}
      </if>
      <if test="postedName!=null">
        and insured_info.posted_name=#{postedName}
      </if>
      <if test="deliveryWay!=null">
        and order_info.delivery_way=#{deliveryWay}
      </if>
      <if test="insuranceCompany!=null">
        and insured_info.insurance_company=#{insuranceCompany}
      </if>
      ORDER BY  order_info.create_time DESC
    </where>
  </select>
  <update id="updatePayStatus" parameterType="com.bzs.model.OrderInfo" >
    update order_info set pay_status=#{payStatus},cancel_msg=#{cancelMsg},finish_time=#{finishTime} where  order_id=#{orderId}
  </update>
  <update id="updatePayStatusById" >
    update order_info set pay_status='2' where  order_id=#{orderId}
  </update>
  <select id="getOrderIdByQuoteId" resultType="String">
    select order_id from order_info
    <where>
     <if test="quoteId!=null">pay_type_id=#{quoteId}</if>
    </where>
  </select>
  <select id="getNextLevelOrder" resultMap="orderAndAccountResultMap" >
    select
      t1.account_id as accountId,
      (t1.invite_code_level-level)+1 as level,
      t1.invite_code_level,
      t1.level as p_level,
      t1.user_name ,
      q.biz_total,
      c.car_number,
      c.frame_number,
      o.*,
      d.status as cash_status,
      per.biz_percentage,
      per.force_percentage,
      per.level_one,
      per.level_two
from draw_cash d INNER join order_info o ON o.order_id = d.order_id
INNER JOIN (select account_id,
	invite_code_level,
	user_name,
	(select invite_code_level from  account_info where account_id=#{createBy} ) as level
		from account_info
		where FIND_IN_SET(account_id,getAccountInfoChildList(#{createBy},2)))
t1 on t1.account_id=o.create_by
LEFT JOIN quote_info q on  q.quote_id =o.pay_type_id
LEFT JOIN car_info c on q.car_info_id= c.car_info_id
LEFT JOIN commission_percentage per ON per.id=d.commission_percentage_id
;
  </select>
  <!--

/*	(select account_id,
	invite_code_level,
	user_name,
	(select invite_code_level from  account_info where account_id=#{createBy} ) as level
		from account_info
		where FIND_IN_SET(account_id,getAccountInfoChildList(#{createBy},2)))
t1
INNER JOIN order_info o ON o.create_by = t1.account_id
INNER JOIN quote_info q on  q.quote_id =o.pay_type_id
INNER JOIN car_info c on q.car_info_id= c.car_info_id
LEFT JOIN draw_cash d ON d.order_id=o.order_id
LEFT JOIN commission_percentage per ON per.id=d.commission_percentage_id*/-->

  <select id="getListToQuartz" resultType="map">
    SELECT
q.pay_end_date,
o.order_id
FROM
order_info AS o
LEFT JOIN quote_info q on(o.pay_type_id=q.quote_id)
WHERE o.pay_status=0
  </select>
  <update id="updatePayStatusByOderId">
    update order_info set pay_status=3,cancel_msg='已过期' where order_id=#{orderId}
  </update>
</mapper>
