<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bzs.dao.PayAccountMapper">
  <resultMap id="BaseResultMap" type="com.bzs.model.PayAccount">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="account_id" jdbcType="VARCHAR" property="accountId" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="amount" jdbcType="VARCHAR" property="amount" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <select id="getListById" resultMap="BaseResultMap">
    select id,account_id,type,amount,name,create_time
    from pay_account <where>
      account_id=#{accountId}
  </where>
  </select>
</mapper>