<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bzs.dao.RoleInfoMapper">
  <resultMap id="role" type="com.bzs.model.RoleInfo">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="ROLE_ID" jdbcType="BIGINT" property="roleId" />
    <result column="ROLE_NAME" jdbcType="VARCHAR" property="roleName" />
    <result column="REMARK" jdbcType="VARCHAR" property="remark" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>

  <select id="getUserRole" resultType="RoleInfo">
    select r.* from role_info r
  	left join account_role_info ur on(r.role_id = ur.role_id)
	left join account_info u on(u.account_id = ur.account_id)
	where u.login_name = #{username}
  </select>
</mapper>