<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bzs.dao.ThirdInsuranceAccountInfoMapper">
  <resultMap id="BaseResultMap" type="com.bzs.model.ThirdInsuranceAccountInfo">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="third_insurance_id" jdbcType="VARCHAR" property="thirdInsuranceId" />
    <result column="create_id" jdbcType="VARCHAR" property="createId" />
    <result column="account_name" jdbcType="VARCHAR" property="accountName" />
    <result column="account_pwd" jdbcType="VARCHAR" property="accountPwd" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="vpn" jdbcType="VARCHAR" property="vpn" />
    <result column="account_id" jdbcType="VARCHAR" property="accountId" />
    <result column="is_pay" jdbcType="VARCHAR" property="isPay" />
    <result column="account_type" jdbcType="VARCHAR" property="accountType" />
    <result column="ip" jdbcType="VARCHAR" property="ip" />
    <result column="port" jdbcType="VARCHAR" property="port" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="enable_start_date" jdbcType="VARCHAR" property="enableStartDate" />
    <result column="enable_end_date" jdbcType="VARCHAR" property="enableEndDate" />
    <result column="level" jdbcType="VARCHAR" property="level" />
  </resultMap>



<!--根据账号id修改  开始-->
  <sql id="updateItems">
    <trim prefix="Set" suffixOverrides=",">
      <if test="accountName!=null and accountName!=''"> account_name=#{accountName},</if>
      <if test="accountPwd!=null and accountPwd!=''"> account_pwd=#{accountPwd},</if>
      <if test="vpn!=null and vpn!=''"> vpn=#{vpn},</if>
      <if test="isPay!=null and isPay!=''"> is_pay=#{isPay},</if>
      <if test="accountType!=null and accountType!=''">account_type=#{accountType},</if>
      <if test="ip!=null and ip!=''"> ip=#{ip},</if>
      <if test="status!=null and status!=''">status=#{status},</if>
      <if test="enableStartDate!=null and enableStartDate!=''"> enable_start_date=#{enableStartDate},</if>
      <if test="enableEndDate!=null and enableEndDate!=''"> enable_end_date=#{enableEndDate},</if>
    </trim>
  </sql>
  <update id="updateById" parameterType="com.bzs.model.ThirdInsuranceAccountInfo">
    update third_insurance_account_info <include refid="updateItems"/> where  third_insurance_id=#{thirdInsuranceId}
  </update>
  <!--根据账号id修改  结束-->
  <!--根据条件查询  开始-->
  <sql id="queryConditions">
    <trim prefix="where" prefixOverrides="where" suffixOverrides="and">
      <if test="thirdInsuranceId!=null and thirdInsuranceId!=''"> third_insurance_id=#{thirdInsuranceId} and </if>
      <if test="createId!=null and createId!=''"> create_id=#{createId} and </if>
      <if test="accountId!=null and accountId!=''"> account_id=#{accountId} and </if>
      <if test="status!=null and status!=''"> status=#{status} and </if>
      <if test="accountType!=null and accountType!=''"> account_type=#{accountType} and </if>
      <if test="accountId!=null and accountId!=''"> account_id=#{accountId} and </if>
    </trim>
  </sql>
  <select id="queryConditions" parameterType="com.bzs.model.ThirdInsuranceAccountInfo" resultMap="BaseResultMap">
    select * from  third_insurance_account_info <include refid="queryConditions"/> order  by  create_time desc
  </select>
  <!--根据条件查询  结束-->
  <!--获取每个保司下可用的账号最新添加的账号 开始-->
  <select id="findDifferSourceAccount" resultMap="BaseResultMap">
    SELECT m.* FROM(select *from third_insurance_account_info WHERE account_id=#{accountId} and status=#{status} ORDER BY create_time DESC LIMIT 100)m GROUP BY m.account_type
  </select>
  <!--获取每个保司下可用的账号最新添加的账号 结束-->
  <!--修改或添加 开始-->
  <sql id="insertItems">
    <trim prefix="(" suffix=")" suffixOverrides=",">
      third_insurance_id,
      <if test="createId!=null and ''!=createId ">create_id,</if>
      <if test="accountName!=null and ''!=accountName ">account_name,</if>
      <if test="accountPwd!=null and ''!=accountPwd ">account_pwd,</if>
      <if test="createTime!=null and ''!=createTime ">create_time,</if>
      <if test="vpn!=null and ''!=vpn ">vpn,</if>
      <if test="accountId!=null and ''!=accountId ">account_id,</if>
      <if test="isPay!=null and ''!=isPay ">is_pay,</if>
      <if test="accountType!=null and ''!=accountType ">account_type,</if>
      <if test="ip!=null and ''!=ip ">ip,</if>
      <if test="port!=null and ''!=port ">port,</if>
      <if test="status!=null and ''!=status ">status,</if>
      <if test="enableStartDate!=null and ''!=enableStartDate ">enable_start_date,</if>
      <if test="enableEndDate!=null and ''!=enableEndDate ">enable_end_date,</if>
      <if test="level!=null and ''!=level ">level,</if>
    </trim>
  </sql>

  <sql id="insertValues">
    <trim prefix="(" suffix=")" suffixOverrides=",">
      #{thirdInsuranceId},
      <if test="createId!=null and ''!=createId ">#{createId},</if>
      <if test="accountName!=null and ''!=accountName ">#{accountName},</if>
      <if test="accountPwd!=null and ''!=accountPwd ">#{accountPwd},</if>
      <if test="vpn!=null and ''!=vpn ">#{vpn},</if>
      <if test="accountId!=null and ''!=accountId ">#{accountId},</if>
      <if test="isPay!=null and ''!=isPay ">#{isPay},</if>
      <if test="accountType!=null and ''!=accountType ">#{accountType},</if>
      <if test="ip!=null and ''!=ip ">#{ip},</if>
      <if test="port!=null and ''!=port ">#{port},</if>
      <if test="status!=null and ''!=status ">#{status},</if>
      <if test="enableStartDate!=null and ''!=enableStartDate ">#{enableStartDate},</if>
      <if test="enableEndDate!=null and ''!=enableEndDate ">#{enableEndDate},</if>
      <if test="level!=null and ''!=level ">#{level},</if>
    </trim>
  </sql>
  <insert id="addOrUpdate" parameterType="com.bzs.model.AccountInfo">
    insert into third_insurance_account_info
      <include refid="insertItems"/>values <include refid="insertValues"/>
    ON DUPLICATE KEY UPDATE
    <trim suffixOverrides=",">
      <if test="createId!=null and ''!=createId ">create_id=#{createId},</if>
      <if test="accountName!=null and ''!=accountName ">account_name=#{accountName},</if>
      <if test="accountPwd!=null and ''!=accountPwd ">account_pwd=#{accountPwd},</if>
      <if test="vpn!=null and ''!=vpn ">vpn=#{vpn},</if>
      <if test="accountId!=null and ''!=accountId ">account_id=#{accountId},</if>
      <if test="isPay!=null and ''!=isPay ">is_pay=#{isPay},</if>
      <if test="accountType!=null and ''!=accountType ">account_type=#{accountType},</if>
      <if test="ip!=null and ''!=ip ">ip=#{ip},</if>
      <if test="port!=null and ''!=port ">port=#{port},</if>
      <if test="status!=null and ''!=status ">status=#{status},</if>
      <if test="enableStartDate!=null and ''!=enableStartDate">enable_start_date=#{enableStartDate},</if>
      <if test="enableEndDate!=null and ''!=enableEndDate ">enable_end_date=#{enableEndDate},</if>
    </trim>
  </insert>
  <delete id="deleteBatchAdmin" parameterType="java.util.List">
    delete FROM  third_insurance_account_info  where  third_insurance_id in
    <foreach collection="list" item="id" separator="," open="(" close=")">
      #{id}
    </foreach>
  </delete>

  <delete id="deleteBatch" >
    delete FROM  third_insurance_account_info  where

    <if test="createBy!=null and ''!=createBy">create_id=#{createBy} and </if>
    third_insurance_id in
    <foreach collection="list" item="id" separator="," open="(" close=")">
      #{id}
    </foreach>
  </delete>

  <!--修改或添加 结束-->
  <resultMap id="CrawlingAndAdminListResultMap" type="com.bzs.model.query.ThridAccountAndAdminDomain">
    <result column="account_name" jdbcType="VARCHAR" property="accountName" />
    <result column="account_pwd" jdbcType="VARCHAR" property="accountPwd" />
    <result column="third_insurance_id" jdbcType="VARCHAR" property="thirdInsuranceId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="login_name" jdbcType="VARCHAR" property="loginName" />
    <result column="admin_id" jdbcType="INTEGER" property="adminId" />
    <result column="role_name" jdbcType="VARCHAR" property="roleName" />
  </resultMap>

  <select id="getCrawlingAndAccountList" resultMap="CrawlingAndAdminListResultMap">
    select
      b.account_name,
      b.account_pwd,
      b.third_insurance_id,
      a.user_name as name,
      case  when ar.code='SADMIN' then '超级管理员'
            when ar.code='CADMIN' then '普通管理员'
            when ar.code='CRAWLING' then '数据爬取员'
      else '其他'
      end  as role_name
    from  third_insurance_account_info  b
    left  join  account_info a on  a.account_id = b.account_id
    left join admin_role  ar on ar.id=a.role_id
      <trim prefix="where" suffixOverrides="and">
        <if test="createBy!=null and createBy!=''">
          b.account_id =#{createBy} and
        </if>
        <if test="code!=null and code!=''">
          ar.code =#{code} and
        </if>
      </trim>
  </select>
  <select id="getCrawlingAndAdminList" resultType="map">
    select
    b.account_name as accountName,
    b.account_pwd as accountPwd,
    b.third_insurance_id as thirdInsuranceId,
    a.user_name as userName
    from  third_insurance_account_info  b
    left  join  account_info a on  a.account_id = b.account_id
      <trim prefix="where" suffixOverrides="and">
        <if test="createBy!=null and createBy!=''">
          b.account_id =#{createBy} and
        </if>
        <if test="code!=null and code!=''">
          ar.code =#{code} and
        </if>
      </trim>
  </select>
  <delete id="deleteAccount">
    delete FROM third_insurance_account_info <where>
    third_insurance_id=#{accountId}
  </where>
  </delete>
</mapper>