<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bzs.dao.VerificationMapper">
  <resultMap id="BaseResultMap" type="com.bzs.model.Verification">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="money" jdbcType="VARCHAR" property="money" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="pay_account_id" jdbcType="INTEGER" property="payAccountId" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="verification_time" jdbcType="TIMESTAMP" property="verificationTime" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="verification_by" jdbcType="VARCHAR" property="verificationBy" />
  </resultMap>
  <sql id="updateItems">
    <trim prefix="set" suffixOverrides=",">
      <if test="money!=null and ''!=money"> money=#{money},</if>
      <if test="status!=null and ''!=status"> status=#{status},</if>
      <if test="payAccountId!=null "> money=#{payAccountId},</if>
      <if test="description!=null and ''!=description"> description=#{description},</if>
      <if test="verificationTime!=null"> verification_time=#{verificationTime},</if>
      <if test="createBy!=null and ''!=createBy"> create_by=#{createBy},</if>
      <if test="verificationBy!=null and ''!=verificationBy"> verification_by=#{verificationBy},</if>
    </trim>
  </sql>
  <update id="updateVerification" parameterType="com.bzs.model.Verification">
    update verification <include refid="updateItems"/> where id=#{id}
  </update>
</mapper>